.float_window {
	z-index:100;
	position:absolute;
	border-collapse:collapse;
	background-color:transparent;
	width:300px;
	margin:0px;
	padding:0px;
	border:none;
	top:0px;
}

.float_window td, .float_window tbody {
	margin:0px;
	padding:0px;
	border:none;
}

.float_window_top_left_td {
	background:url(images/fw_top_left_td.png) transparent no-repeat;
	width:23px;
	height:28px;
}

.float_window_top_center_td {
	background:url(images/fw_top_center_td.png) transparent repeat-x;
	text-align:center;
	vertical-align:middle;
	height:28px;
}

.float_window_top_right_td {
	background:url(images/fw_top_right_td.png) transparent no-repeat;
	width:23px;
	height:28px;
}

.float_window_middle_left_td {
	background:url(images/fw_middle_left_td.png) transparent repeat-y;
	width:23px;
	height:100%;
}

.float_window_middle_center_td {
	background:url(images/fw_middle_center_td.png) repeat;
	text-align:left;
	vertical-align:top;
	height:100%;	
}

.float_window_middle_right_td {
	background:url(images/fw_middle_right_td.png) transparent repeat-y;
	width:23px;
	height:100%;
}

.float_window_bottom_left_td {
	background:url(images/fw_bottom_left_td.png) transparent no-repeat;
	width:23px;
	height:18px;
}

.float_window_bottom_center_td {
	background:url(images/fw_bottom_center_td.png) transparent repeat-x;
	height:18px;
}

.float_window_bottom_right_td {
	background:url(images/fw_bottom_right_td.png) transparent no-repeat;
	width:23px;
	height:18px;
}

.float_window_title_container {
	position:relative;
	background-color:transparent;
	width:100%;
}

.float_window_top_center_td h4 {
	display:block;
	padding:0px;
	margin:0px;
	background-color:transparent;
	color:#333;
	position:relative;
	top:4px;
	font-weight:bold;
	font-size:14px;
}

.float_window_maximize_button, .float_window_minimize_button, .float_window_close_button {
	position:absolute;
	cursor:pointer;
	top:5px;
	width:17px;
	height:17px;
	background:transparent no-repeat 0px 50%;
}

.float_window_close_button {
	background-image:url(images/buttons.png);
	right:-8px;
}

.float_window_maximize_button {
	background-image:url(images/buttons.png);
	background-position:-40px 50%;
	right:13px;
}

.float_window_maximize_button.maximized {
	background-position:-20px 50%;
}

.float_window_maximize_button:hover, .float_window_close_button:hover {
	background-image:url(images/buttons_hover.png);
}

.float_window_content_container {
	position:relative;
	width:100%;
}

#settings_table .right_td {
  width:90px;
}
